Body {
    background-color: #f9c667;
    max-width: 90%;
    margin: auto;
    background-image: url("https://www.xmple.com/wallpaper/gradient-white-orange-linear-1920x1080-c2-ffffff-ff8c00-a-195-f-14.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #1C1C1C;
  }


  header:nth-child(1) {
    background-color:yellow;
  }

blockquote {
  max-width: 50%;
  margin: auto;
  font-size: 160%;
  background-color: #EADEFE;
  border-left: 3px;
  border-style: solid;
  border-color: firebrick;
  padding-left: 30px;
  padding-top: 80px; 
  padding-bottom: 80px;
}



.li_good {
font-weight: bold;
}

.img1 {
  float: left; 
  width: 25%;
  margin-right: 10px;
}


.good {
  text-transform: capitalize;
  color: green;
}

.bad {
  text-transform: capitalize;
  color: red;
}

p {
  color: #1C1C1C;
}

q { 
  font-style: italic;
}

ul {
    color: #1C1C1C;
}



table, th, td {
    
    color: #1C1C1C;
    border:  1px solid black;
   
}

tr:nth-child(even) {background-color: grey;}
tr:nth-child(odd) {background-color: white;}


a {
    
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  a:visited {
    color: purple;
  }

  .notification{
    background:#FFFFDD;
    padding:.5rem 3rem;
    border:3px solid #DDDDCC;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width:250px;
    font-weight:bold;
    color: #333300;
    position: fixed;
    bottom: 0; 
    right: 0;
  }
  
  