Body {
    background-color: #f9c667;
    max-width: 90%;
    margin: auto;
    background-image: url("https://www.xmple.com/wallpaper/gradient-white-orange-linear-1920x1080-c2-ffffff-ff8c00-a-195-f-14.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
  }

blockquote {
  max-width: 50%;
  margin: auto;
  font-size: 160%;
  background-color: #EADEFE;
  border-left: 3px;
  border-style: solid;
  border-color: firebrick;
  padding-left: 30px;
  padding-top: 80px; 
  padding-bottom: 80px;
}



.li_good {
font-weight: bold;
}

.bien {
  float: right;
  padding-right: 800px; 
}

.mal {
  float: right; 
  padding-right: 800px;
}

.chat {
  float: right; 
  padding-right: 800px;
}



.img1 {
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 100px;
}

.figcaption1 {
  float: inline-start;
}

.float2 {
  float: right;
  width: 30%;
  margin: 20px;
}

.good {
  text-transform: capitalize;
  color: green;
}

.bad {
  text-transform: capitalize;
  color: red;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #1C1C1C;
}

q { 
  font-style: italic;
}

ul {
    font-family: 'Roboto Slab', serif;
    color: #1C1C1C;
}

table, th, td {
    font-family: 'Roboto Slab', serif;
    color: #1C1C1C;
    border:  1px solid black;
   
}

tr:nth-child(even) {background-color: grey;}
tr:nth-child(odd) {background-color: white;}


a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  a:visited {
    color: purple;
  }
  
  